@import url('https://fonts.googleapis.com/css2?family=New+Tegomin&display=swap');

h3,html
{
    font-size: 25px !important;
    font-family: 'New Tegomin', serif;

}
.btn-success:hover{
    background-color: red;
}
.btn-info:hover{
    background-color: orange;
}
canvas{
    animation-name: example;
    animation-duration: 4s;
    animation-iteration-count: infinite;
}
@keyframes example {
    from {box-shadow: 18px 18px 38px red;}
    to {box-shadow: 18px 18px 38px rgb(25, 0, 255);}
}
img{
    height: 50px;
    width: 50px;
}
.button {
    display: inline-block;
    padding: 15px 25px;
    font-size: 24px;
    cursor: pointer;
    text-align: center;
    text-decoration: none;
    outline: none;
    color: #fff;
    background-color: #e09e33;
    border: none;
    border-radius: 15px;
    box-shadow: 0 9px #999;
    font-family: 'New Tegomin', serif;
  }
  
  .button:hover {background-color: #2419b9}
  
  .button:active {
    background-color: #ff1e00;
    box-shadow: 0 5px #666;
    transform: translateY(4px);
  }